<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.monaara.sahan.testappointment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Appointment"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon,label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewActivity" />
        <activity android:name=".DeleteActivity" />
        <activity android:name=".CreateActivity" />
        <activity android:name=".MoveActivity" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".MoveDateActivity" />
        <activity android:name=".SearchActivity"></activity>
    </application>

</manifest>